body{
  background: AliceBlue;
/* old color: #00589F */
/*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00589F', endColorstr='#0073CF', GradientType=0); */
/*    background: -webkit-linear-gradient(to bottom, #00589F 50%, #0073CF) !important; */
/*    background: -moz-linear-gradient(to bottom, #00589F 50%, #0073CF) !important; */
/*    background: -ms-linear-gradient(to bottom, #00589F 50%, #0073CF) !important; */
/*    background: -o-linear-gradient(to bottom, #00589F 50%, #0073CF) !important; */
/*    background: linear-gradient(to bottom, #00589F 50%, #0073CF) !important; */
   color: white;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 600px;
  padding: 40px;
}